.flex-1 {
  flex: 1;
}

.ellipsis-txt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.txt {
  font-family: $font;
  font-size: rem(16);
  color: $black;

  &--font-normal {
    font-family: $font;
  }

  &--font-bold {
    font-family: $font-bold;
  }

  &--font-semi-bold {
    font-family: $font-semi-bold;
  }

  &--font-light {
    font-family: $font-light;
  }

  &--font-thin {
    font-family: $font-thin;
  }

  &--font-black {
    font-family: $font-black;
  }

  &--xxl {
    font-size: rem(22);
  }

  &--xl {
    font-size: rem(20);
  }

  &--lg {
    font-size: rem(18);
  }

  &--md {
    font-size: rem(16);
  }

  &--sm {
    font-size: rem(14);
  }

  &--xs {
    font-size: rem(12);
  }

  &--xxs {
    font-size: rem(10);
  }

  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }

  &--blue {
    color: $blue;
  }

  &--gray {
    color: $gray-txt-primary;
  }

  &--gray-dark {
    color: $gray-txt-dark;
  }

  &--gray-light {
    color: $gray-txt-light;
  }

  &--gray-soft {
    color: $gray-txt;
  }

  &--secondary {
    color: $txt-menu;
  }
  &--green {
    color: $green;
  }
}
