@import "./../../assets/styles/abstracts";
.form_control:not([type="checkbox"]){
    outline: none;
    width: 100%;
    border: 1px solid $gray;
    background-color: $white;
    border-radius: rem(6);
    padding: rem(12) rem(20);
    
    &:focus{
        border: 1px solid #50a0f0;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgba(49, 151, 247, 0.986);
    }

}


.input_div{
    width: 100%;
    &_label{
        padding: rem(5) 0;
    }
}

.error-text{
    color: red;
}
